<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="finall.demo.dao.DataMapper">
<insert id="insert" parameterType="java.util.Map">
insert into springimport_excel(NUM,name) values (#{NUM},#{name})
    </insert>
    <select id="select" resultType="java.lang.String">
        select 'NUM' 'name' from springimport_excel order by rand() LIMIT 1;
    </select>
</mapper>
